<li class="control-group nested-fields">
  <div class="controls">
    <div class="field">
      <%= f.label t('meal.eating_time') %>
      <%= f.time_field :eating_time %>
    </div>

    <div class="field">
      <%= f.label t('meal.description') %>
      <%= f.text_field :description %>
    </div>

    <div class="field">
      <%= f.label t('meal.kind') %>
      <%= f.select(:kind, Meal.kinds.keys.map { |kind| [kind.titleize, kind] }) %>
    </div>

    <div class="actions">
      <button class="btn btn-danger">
        <%= link_to_remove_association t('action.remove'), f %>
      </button>
    </div>
  </div>
</li>