<div class="form">
  <p>
    <strong><%= t('diet.initial_date') %></strong>
    <%= @diet.initial_date %>
  </p>

  <p>
    <strong><%= t('diet.end_date') %></strong>
    <%= @diet.end_date %>
  </p>

  <p>
    <strong><%= t('weight.initial') %></strong>
    <%= @diet.initial_weight.label %>
  </p>

  <p>
    <strong><%= t('weight.ideal') %></strong>
    <%= @diet.ideal_weight.label %>
  </p>

  <p>
    <strong><%= t('meal.name') %></strong>
    <% @diet.meals.each do |meal| %>
      <%= meal.kind + "," %>
      <%= meal.description + "," %>
      <%= meal.eating_time.strftime("%H:%M") %> |
    <% end %>
  </p>

  <button class="btn btn-primary">
    <%= link_to t('action.edit'), edit_diet_path(@diet) %>
  </button>
</div>