<!DOCTYPE html>
<html>
  <head>
    <title>TrackWeight</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="navbar">
      <a href=<%= root_path %>><h1><%= t('app_name') %></h1></a>

      <% if user_signed_in? %>
        <%= t('logged', { name: current_user.name }) %>

        <%= link_to t('weight.new'),  new_weight_path,             :class => 'navbar-link' %> |
        <%= link_to t('diet.new'),    new_diet_path,               :class => 'navbar-link' %> |
        <%= link_to t('diets'),       diets_path,                  :class => 'navbar-link' %> |

        <%= link_to t('user.edit'),   edit_user_registration_path, :class => 'navbar-link' %> |
        <%= link_to t('logout'), destroy_user_session_path,   :class => 'navbar-link', method: :delete %>
      <% else %>
        <%= link_to t('user.new'),    new_user_registration_path,  :class => 'navbar-link'  %> |
        <%= link_to t('login'),  new_user_session_path,       :class => 'navbar-link'  %>
      <% end %>

      <ul>
        <li><%= link_to 'English', root_path(locale: :en) %></li>
        <li><%= link_to 'Português', root_path(locale: :pt) %></li>
      </ul>
    </div>

    <%= yield %>
  </body>
</html>
