<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= render "users/shared/error_messages", resource: resource %>

  <div class="form">
    <h3><%= t('user.edit') %></h3>

    <div class="field">
      <%= f.label t('user.name') %><br />
      <%= f.text_field :name %>
    </div>

    <div class="field">
      <%= f.label t('user.height') %><br />
      <%= f.number_field :height, step: 0.01 %>
    </div>

    <div class="field">
      <%= f.label t('user.email') %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
    </div>

    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
    <% end %>

    <div class="field">
      <%= f.label t('user.password') %> <i>(<%= f.label t('leave_blank_if') %>)</i><br />
      <%= f.password_field :password, autocomplete: "new-password" %>
      <% if @minimum_password_length %>
        <br />
        <em><%= @minimum_password_length %> <%= t('characters_minimum') %></em>
      <% end %>
    </div>

    <div class="field">
      <%= f.label t('user.password_confirmation') %><br />
      <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
    </div>

    <div class="field">
      <%= f.label t('user.current_password') %> <i><%= t('current_password_need') %></i><br />
      <%= f.password_field :current_password, autocomplete: "current-password" %>
    </div>

    <div class="actions">
      <%= f.submit t('action.edit'), class: 'btn btn-success' %>
    </div>
    
    <h3><%= t('cancel_account') %></h3>

    <p><%= t('unhappy') %> ? 
      <div class="actions">
        <%= button_to t('cancel_account'), registration_path(resource_name), 
          data: { confirm: t('sure') }, method: :delete, class: 'btn btn-danger' %>
      </div>
    </p>
  </div>
<% end %>
